version: "3.9"

services:
  db:
    image: postgres:16
    environment:
      POSTGRES_USER: demo
      POSTGRES_PASSWORD: demo
      POSTGRES_DB: demo
    ports:
      - "5434:5432"   # Port modifié pour éviter le conflit avec le PostgreSQL local

  api:
    build: ./api
    ports:
      - "8000:8000"
    depends_on:
      - db
